<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>

  <%- include('../partials/navbar') %>

  <body>
    <h1>author====<%= Article.author.userName %></h1>
    <div style="background-color: bisque" class="card mt-5 mb-5 col">
      <img
        src="<%= Article.thumbnail %>"
        class="card-img-top"
        style="height: 200px; width: 380px"
      />

      <form
        action="/article/updateArticle/<%= Article._id %>"
        enctype="multipart/form-data"
        method="post"
      >
        <div class="card-body">
          <div class="form-outline row col-sm-2">
            <label><h5>Title</h5></label>
            <input
              type="text"
              class="form-control"
              value="<%= Article.title %>"
              name="title"
            />
          </div>
          <br />

          <div class="form-outline row col-sm-4">
            <label> <h5>Description</h5></label>
            <input
              type="text"
              id="form6Example2"
              class="form-control"
              value="<%= Article.description %>"
              name="description"
            />
          </div>

          <div class="form-outline row col-sm-6">
            <label><h5>Content</h5></label>
            <textarea
              class="form-control"
              id="form6Example7"
              rows="4"
              name="content"
            >
<%=Article.content%></textarea
            >
          </div>
          <br />

          <div class="form-outline row col-sm-3">
            <label><h5>Thumbnail</h5></label>
            <input type="file" name="thumbnail" />
          </div>
          <br />

          <small><%= Article.createdAt %></small>
          <br />
          <br />
          <br />
          <button type="submit" class="btn btn-outline-success mb-5">
            Update Article
          </button>
          <br />
          <form action="/article/deleting/<%= Article._id %>" method="get">
            <input
              type="submit"
              class="btn btn-outline-danger"
              value="Delete Account"
            />
          </form>
        </div>
      </form>
    </div>

    <!-- comment section -->
    <form action="/comment/creatCm/<%= Article._id %>" method="post">
      <div class="card mt-5 mb-5 col">
        <label> Comment Section </label>
        <input type="text" name="content" />
        <input type="submit" value="Send Comment" />
      </div>
    </form>
    <!-- looooooop -->
  </body>
</html>
